{deps, []}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "22.0"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {hera, "0.1.0"}, [hera]}
]}.

%% == EDoc ==

{ edoc_opts , [
    {report_missing_types , true} ,
    {source_path , ["src"]} ,
    {report_missing_types , true} ,
    {todo , true} ,
    {preprocess , true} ,
    {packages , false} ,
    {subpackages , false}
]}.